.PlayCard-jumbotron {
    width: 400px;
    height: 425px;
    margin: 25px;
    color:white;
    background-color: black;
    border-radius: 25px;
}

.btn-dark {
    color:white;
    background-color:#0011ff;
}

.btn-dark :hover {
    background-color: red;
}

.outline {
    color:black;
}

.card-img-top {
    width: 250px;
}