.navbar {
    color:black;
    background-color: black;
    height: 90px;
  }

.nav-link {
    color:white;
    font-size: x-large;
    font-weight: bolder;
}

.nav-link:hover {
    color:#0011ff;
}
 
.pigue {
    padding-top: 15px;
}
