.SinglePlayView{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 25px;
  }
  
  .play1{
    text-align: center;
  }

  .btn{
    align-content: center;
  }
  
  .spinner-border{
    background-color:#ee830a;

  }

  .PlayerCard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  }