.daPlay{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px;
  }
  
  .play1{
    text-align: center;
    margin:25px;
  }

  
  // .btn{
  //   align-items: center;
  // }

  .spinner-border{
    background-color:#ee830a;
  }

  .SinglePlayView{
    text-align:center;
  }

  // .single{
  //   justify-content: center;
  // }