.daPlay{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px;
  }

  .SinglePlayView{
    text-align:center;
  }

  .PlayBackGround{
    background-color: BLACK;
    color: white;
  }