.Huddle{
    display: flex;
    justify-content: center;
    padding:65px;
    height: 100vh;
    background-image: url('https://reactnativestarter-hosting-mobilehub-132039435.s3.amazonaws.com/Arceneaux.jpg');
    background-repeat: no-repeat repeat;
    background-size: cover;
    background-attachment: fixed;
    }


.btn{
margin: 10px;
}


.btn-primary, .btn-success, .btn-secondary{ 
    color:#0011ff;
    background-color:#ee830a;
}

.gametime{
    color:#0011ff;
    font-size: xx-large;
    font-weight: bolder;
}

.btn:hover{
    background-color:#0011ff;
}