.PlayerCard {
  width: 350px;
  height: 550px;
  margin: 25px;
  background-color: black;
  color: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.6);
  transition: 0.4s;
}

.topps {
  width: 275px;
  height: 300px;
  border-radius: 275px;
  box-shadow: 4px 4px 8px 0 rgba(255, 255, 255, 0);
  margin: 15px;
  border: solid white;
}