.forms {
    border: solid black;
    margin: 25px;
    background-color: black;
    color:white;
}

.former {
    border : solid white thick;
}

.FormationCard {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;
    // background-color: lightgray;
}
