.playclock{
    height: 100px;
    background-color: black;
    color:white;
   
    width: 250px;
    margin: 5px;
    font-family: Geostar Fill;
    
}

.penalty{
    background-color: black;
    color: red;
}

.Timer{
    display: flex;
    justify-content: center;
}